      <footer>
        <p class="pull-right"><a href="#">Regresar arriba</a></p>
        <p>© 2014 Faturalia, Inc. · <a href="#">Politica de Privacidad</a> · <a href="#">Todos los Derechos Reservados</a></p>
      </footer>
